
        /*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #2953b7;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}
/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 2px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
/* Nav links */
.navbar-brand {
  position: relative;
  display: inline-block;
  padding: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

/* Footer part*/
p#p1 {
    color: #2953b7;
}
