body {background-color: #d3d3d3;}

    .aboutme p{
    padding-top: 75px;
    color: #5a5858;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
    }
    section {
        padding-top: 5px;
        font-family: 'Abel', sans-serif;
        letter-spacing:2px;
        font-size:1.4em;
        
        color:#5a5858;
    }
     img {
    width: 30%;
    }

     h1 {
    padding-top: 30px;
    color: #5a5858;
    font-weight: 200;
    letter-spacing: 4px;
    margin: auto;
    text-align: justify;
    font-size: 1.3em;
    width: 70%;
    position: relative;
     }
     Label {
         color: #5a5858;
     }
     p {
         color: #5a5858;
         font-size: 0.9em;
     }