body {
    
    background-image: url('../Assets/Images/myimg.jpg');
    background-size : auto;
}

h1 {
    color: #0C6140;
    margin-left: 100px;
    font-family: 'Arvo', serif;
    font-size: 4em;
        font-weight: 50;
    position: relative;
    margin-top: 30%;
    letter-spacing: 8px;

} 
h3{
    color: #143269;
    margin-left: 100px;
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    font-weight: 200;
    position: relative;
    margin-top: 1%;
    letter-spacing: 7px;
    }
