body {
    
    background-image: url('../Assets/Images/myimg.jpg');
    background-size : auto;
}

h1 {
    color: #0C6140;
    margin-left: 150px;
    font-family: 'Arvo', serif;
    font-size: xx-large;
        font-weight: 100;
    position: relative;
    margin-top: 30%;
    letter-spacing: 8px;

} 
    h3{
    color: #143269;
    margin-left: 150px;
    font-family: 'Abel', sans-serif;
    font-size: x-large;
    font-weight: 400;
    position: relative;
    margin-top: 1%;
    letter-spacing: 7px;
    }